<h3>{logo}</h3>
<h4>Login Details</h4><p>
    Hello {client_name},</p><p>We have created new account for you to manage your quotations and orders from our
    website. </p><p>Your credentials are:</p>
<pre>Site Link: {site_link}
Username: {email}
Password: {password}
</pre><p>
    <a href="{client_link}"></a></p><p>
    Best regards,
    <br>
    Kreasiilmu.com</p>